.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-top: 10px;
  top: 10px;
  z-index: 100;
}

.random {
  border: solid 3px black;
  font-family: "RickAndMorty";
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #12B0C9;
  color: #C8DD5D;
  &:hover {
    cursor: pointer;
    background-color: #055ADA;
  }
}

.add {
  display: flex;
}

.image img {
  width: 350px;
}