@font-face {
  font-family: 'RickAndMorty';
  src: url('./assets/fonts/PermanentMarker.ttf');
}

body {
  font-family: 'RickAndMorty';
  background-image: url('./assets/wallpapers/fondo1.jpg');
  background-size: 1980px;
  background-position: top;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

