.card {
  background-color: #c8dd5d;
  position: relative;
  border-radius: 10px;
  outline: 4px solid black;
  box-shadow: 0 20px 30px black;
  & h2 {
    margin: 0;
  }
  & img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1)
  }
  &:hover button {
    opacity: 1;
  }
}

.cardFav {
  background-color: #12B0C9;
  & .link {
    & h2{
      color: #c8dd5d;
    }
  }
}

button {
  border: solid 2px black;
  font-family: 'RickAndMorty';
  font-size: large;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  background-color: #C8DD5D;
  color: red;
  &:hover {
    cursor: pointer;
    background-color: red;
    color: #C8DD5D;
  }
  
}

.fav {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease;
  &:hover{
    background-color: #12B0C9;
  }
}

.favActive {
  opacity: 1;

}

.delete {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: opacity 1s ease;
}

.link {
  text-align: center;
  & h2{  
    color: #12B0C9;
    padding: 10px;
  }
  text-decoration: none;
  &:visited, &:link, &:active {
    color: inherit;
  }
}
